.pieCharts {
	display: flex;
	flex-direction: row;
}

.colleges {
	width: 50%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.colleges > h1 {
	font-family: "Nunito", sans-serif;
}

.courses {
	width: 50%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.courses > h1 {
	font-family: "Nunito", sans-serif;
}

@media (max-width: 500px) {
	.pieCharts {
		flex-direction: column;
	}
	.colleges {
		width: 100%;
		flex-direction: column-reverse;
	}
	.colleges > h1 {
		font-size: 5vw !important;
	}
	.courses {
		width: 100%;
	}
	.courses > h1 {
		font-size: 5vw !important;
	}
}
