.navbar {
	display: flex;
	height: 100px;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	font-family:'Times New Roman', Times, serif;
	font-size: 2vw;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt34MUx1B20tSbIzC8D_aZPuUEBny0EorHlA&usqp=CAU");
	color: white;
}

.logo {
	cursor: pointer;
	width: max-content;
	margin: auto;
	color: white;
	text-shadow: 4px 1px 37px rgba(0,0,0,1);
	/* background: -webkit-linear-gradient(lightpink, lightgreen);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

@media (max-width: 500px) {
	.navbar {
		font-size: 4vw;
		height: 80px;
	}
}
